body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul {
  margin-bottom: 10px;
}

ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.App {
  margin: 20px;
}

button {
  margin-right: 10px;
  width: 50px;
}
